body {
    margin: 0;
}
* {
    text-decoration: none;
}
h1 {
    font-family: Montserrat;
    font-weight: regular;
  }
  h2 {
    font-family: Montserrat;
    font-style: italic;
  }
  p.bold {
    font-family: Kumbh sans;
    font-weight: bold;
  }
  p.half-bold {
    font-family: Kumbh sans;
    font-weight: normal;
  }
  p {
    font-family: Kumbh sans;
    font-weight: light;
  }
