.star {
    display: flex;
    align-items: center;
  }
  .star svg {
    width: 15px;
    height: 12px;
    fill: #E78121; 
  }
  .rating {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  