.modal-content {
    width: 800px;
    background-color: #FFFFFF;
    border-radius: 24px;
    border: solid 1px rgb(192, 192, 192);
    display: flex;
    flex-direction: column;
    /* align-items: center;  */
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
  }
  .modalheaderwrapper {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgb(192, 192, 192);
    height: 60px;
    flex-direction: column;
  }
  
  .modal-header {
    width: 50%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
  }
  
  .cross {
    font-size: xx-large;
    font-weight: bold;
    padding: 10px 0 0 20px;
  }
.close-button:hover {
  cursor: pointer;
}

.btnwrapper {
  /* border: 1px solid; */
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(192, 192, 192);
}
.btnwrapper button:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.btnwrapper button:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.choicebtn {
  height: 50px;
  width: 150px;
  border: 1px solid #C0C0C0;
  background-color: #FFFFFF;
}
.choicebtn:hover {
  background-color: #E78121;
  color: #FFFFFF;
  cursor: pointer;
}
.textwrapper {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.inputwrapper {
  cursor: pointer;
  justify-content: center;
  width: 100%;
  gap: 20px;
  /* justify-content: space-evenly; */
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(192, 192, 192);
  padding-bottom: 20px;
}
.input-container {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-container label {
  font-size: 14px;
  color: #656565;
  padding-left: 5px;
  position: absolute;
  top: 20%;
  transform: translateY(-50%); 
  background-color: white; 
  z-index: 1; 
  left: 5px; 
}

.inputnum {
  padding-top: 5px;
  font-size: 16px;
  height: 40px;
  border-radius: 8px;
  width: 250px;
  border: #C0C0C0 1px solid;
  padding-left: 10px; 
  box-shadow: 0 0 0 5px white; 
  padding-bottom: -5px;
}

.string {
  display: flex;
  flex-direction: row;
  background-color: #C0C0C0;
  width: 20px;
  height: 1px;
}
.room-buttons {
  width: 95%;
  justify-content: space-around;
  display: flex;
  padding-right: 40px;
}
.room-buttons button {
  height: 32px;
  width: 58px;
  border-radius: 50px;
  background-color: #FFFFFF;
  border: solid #C0C0C0 1px;
}
.room-buttons button:hover {
  background-color: #E78121;
  cursor: pointer;
  color: #FFFFFF;
}
.checkboxwrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: start;
  padding: 10px 0px 40px 40px;
  border-bottom: 1px solid rgb(192, 192, 192);
}
.check {
  display: flex;
  align-items: center;
}
.check input[type='checkbox'] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.endwrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.showbtn {
  background-color: #E78121;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  border-radius: 32px;
  /* padding: 10px 20px; */
  cursor: pointer;
  width: 206px;
  height: 49.022px;
}
.black-underline {
  font-size: large;
  font-weight: bold;
  color: black;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}