.house-titel h2{
    width: 100vw;
}
.applycontainerwrapper {
    display: flex;
    justify-content: center;
    height: auto;
    padding-bottom: 20vh;
}
.applyh2wrapper1 h4{
  font-family: "Kumbh sans", sans-serif;
  font-size: 35px;
  font-weight: lighter;
}
.applycontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.applicationbodywrapper {
  font-family: "Kumbh sans", sans-serif;
  font-size: 14px;
    margin: 0;
    height: 600px;
    min-width: 350px;
}
.housecardapplyinfo {
  /* border: 1px solid black; */
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* height: 600px; */
}
.apply-house-image img {
  /* border: 1px solid black; */
    object-fit: cover;
    height: 310px;
    width: 300px;
    border-radius: 10px;
}
.overview {
    align-items: center;
    width: 300px;
    flex-direction: column;
    display: flex;
    height: 200px;
    background-color: #E9E9E9;
}
.overview h3 {
    display: flex;
    justify-content: flex-start;
    width: 250px;
}
.papplywrap {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.papplywrap p {
    margin: 0;
}
.fullhousewrapperapply {
  /* border: 1px solid red; */
    align-items: flex-start;
    display: flex;
    gap: 50px;
    width: 80vw;
}
.fullhousewrapperapply > :last-child {
    margin-top: -18px; 
  }

.checkapplyer {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* padding-right: 50px; */
    gap: 20px;
}
  .fullerhouse {
    display: flex;
    justify-content: center;
  }
  .red-text {
    color: red;
  }
  .checkboxwrapperapply input[type="checkbox"] {
    border-radius: 50% !important;
    cursor: pointer;
  }
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
  }
  .shake {
    animation: shake 0.5s;
  }
  @media (max-width: 750px) {
    /* .applycontainerwrapper {
      border: 1px solid black;
    } */
  }
  @media (max-width: 750px) {
    .applicationbodywrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .fullhousewrapperapply {
      /* border: 1px solid black; */
      width: 430px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 430px) {
    .fullhousewrapperapply {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .applyh2wrapper1 h4 {
      font-size: 20px;
    }
    .applyh2wrapper1 {
      display: flex;
      align-items: center;
      width: 90%;
      justify-content: center;
    }
    .housecardapplyinfo, .apply-house-image, .house-image {
      width: auto;
    }
    .apply-house-image {
      display: flex;
      justify-content: center;
    }
    .applysummarybox {
      width: 350px;
    }
    .checkapplyer {
      width: 300px;
      flex-direction: row;
    }
    .applicationbodywrapper {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .applycontainerwrapper {
      padding-bottom: 0;
    }
  }