.house-titel h2{
    width: 100vw;
}
.applycontainerwrapper {
    display: flex;
    justify-content: center;
}
.applycontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.applicationbodywrapper {
    margin: 0;
    height: 600px;
}
.housecardapplyinfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* height: 600px; */
}
.house-image img {
    object-fit: cover;
    height: 320px;
    width: 250px;
    border-radius: 5px;
}
.overview {
    align-items: center;
    width: 300px;
    flex-direction: column;
    display: flex;
    height: 200px;
    background-color: #E9E9E9;
}
.overview h3 {
    display: flex;
    justify-content: flex-start;
    width: 250px;
}
.papplywrap {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.papplywrap p {
    margin: 0;
}
.fullhousewrapperapply {
    align-items: flex-start;
    display: flex;
    gap: 50px;
    width: 84vw;
}
.fullhousewrapperapply > :last-child {
    margin-top: -18px; 
  }

.checkapplyer {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
    gap: 20px;
}
  .fullerhouse {
    display: flex;
    justify-content: center;
  }
  .red-text {
    color: red;
  }
  .checkboxwrapperapply input[type="checkbox"] {
    border-radius: 50% !important;
    cursor: pointer;
  }
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
  }
  .shake {
    animation: shake 0.5s;
  }
  