.confirmed-container {
  padding-top: 40px;
  display: flex;
  margin: 0 auto;
  width: 80vw;
  justify-content: center;
  height: 90vh;
}
.confwrapper{
  flex-direction: row-reverse;
  display: flex;
}
.confirmed-img {
  object-fit: cover;
  flex: 1;
  height: 250px;
  width: 400px;
  margin: 10px 50px 20px 0;
  border-radius: 10px; 
}
.confirmed-info {
  margin: 0;
  flex: 2;
}
.confirmed-info h2 {
  font-family: "Kumbh sans", sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 10px;
}

.confirmed-info p {
  font-family: "Kumbh sans", sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin: 5px 0;
  padding-bottom: 5px;
}
.other-info p {
  font-size: 12px;
}
.other-info {
  justify-content: space-evenly;
  display: flex;
  width: 300px;
}
.confdeskonly a{
  font-size: 12px;
  height: 30px;
  width: 120px;
}
.confirmed-text {
  width: 350px;
  /* width: auto; */
}

.confirmed-text h3 {
  font-family: "Kumbh sans", sans-serif;
  font-size: 35px;
  font-weight: lighter;
  margin-top: 10px;
}

.confirmed-text p {
  font-family: "Kumbh sans", sans-serif;
  font-size: 14px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 40px;
}
.confirmwrapper {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  align-items: flex-start;
}
.confinfo h2 {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.confirmotherinfo {
  /* border: 1px solid black; */
  width: 350px;
}
.confirmotherinfo h2{
  margin: 0;
}
@media (min-width: 750px) {
  .confirmed-container {
    flex-direction: row;
  }
}
@media (min-width: 430px) {
  .confmobonly {
    display: none;
  }
  .other-info-mobile-only {
    display: none;
  }
}
@media (max-width: 750px) {
  .confirmed-container {
    height: auto;
    /* flex-direction: column; */
    width: auto;
    justify-content: center;
    padding-bottom: 50px;
  }
  .confwrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
@media (max-width: 430px) {
  .confirmed-container {
    width: auto;
    flex-direction: column;
    padding-top: 0;
    height: auto;
  }
  .confwrapper {
    flex-direction: column;
    width: 360px;
    align-items: center;
    padding-bottom: 40px;
  }
  .confimgwrap {
    display: none;
  }
  .confdeskonly {
    display: none;
  }
  .confmobonly {
    display: block;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  .confirmotherinfo h2{
    display: none;
  }
  .confirmotherinfo {
    display: flex;
    justify-content: center;
  }
  #mobileconfirmadress {
    display: block;
  }
  .other-info-mobile-only {
    display: flex;
    width: 300px;
    justify-content: space-between;
  }
  .info {
    width: 150px;
  }
  .info2 {
    width: 150px;
  }
  .other-info {
    display: none;
  }
  .address-landlord {
    display: none;
  }
  .image-container {
    width: 330px;
  }
  .confirmed-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }
  .confirmed-text {
    width: 330px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .confirmed-img img{
    width: 350px;
    margin: 0;
  }
  .confirmed-img {
    margin: 0;
  }
}