/* Uppdaterad Home.css */
.homeHeight {
    height: 100vh;
  }
  
  .card-display {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 5px;
    justify-items: center;
    padding: 10px;
    max-width: 1200px; 
    width: 100%; 
  }
  
  .btnwrap {
    display: flex;
    justify-content: center;
    padding: 20px 0; /* Lägg till mer mellanrum för att förbättra utseendet */
  }
  