.cardwrapper {
  display: flex;
  justify-content: center;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
  justify-items: center;
  padding: 10px;
}
.btnwrap {
  display: flex;
  justify-content: center;
  padding: 20px 0; 
}
.btnhomewrapper {
  padding: 30px;
  display: flex;
  justify-content: center;
}
.img-wrapper-container {
  position: relative;
}
.overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.0);
  text-align: center;
  justify-content: center;
  color: #fff;
  height: 100px;
}
.overlay p {
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 34px;
}

@media screen and (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}
@media screen and (max-width: 600px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr); 
  }

  .overlay {
    height: 200px; 
    /* display: none; */
  }

  .overlay h2 {
    font-size: 32px; 
  }

  .overlay p {
    font-size: 30px; 
  }
}