.homeHeight {
    height: 100vh;
  }
  .card-display {
    display: flex;
    flex-direction: column; 
  }
  .cardwrapper {
    display: flex;
    justify-content: center;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 40px;
    justify-items: center;
    padding: 10px;
    max-width: 1200px; 
    width: 100%; 
  }
  .btnwrap {
    display: flex;
    justify-content: center;
    padding: 20px 0; 
  }
  .overlay {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 400px;
    background: rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff; 
    text-align: center;
  }
  .overlay h2 {
    font-size: 44px;
    font-weight: bold;
  }
  .overlay p {
    font-size: 26px;
  }
  .btnhomewrapper {
    padding: 30px;
    display: flex;
    justify-content: center;
  }
  .img-wrapper-container {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.0);
    padding: 20px;
    text-align: center;
    color: #fff;
    height: 100px;
  }
  .overlay p {
    margin: 10px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
  }
  
  @media screen and (max-width: 768px) {
    .card-grid {
      grid-template-columns: repeat(1, 1fr); /* Ändra till tre kolumner på mindre skärmar */
    }
  
    .overlay {
      height: 300px; /* Justera höjden för mindre skärmar */
    }
  
    .overlay h2 {
      font-size: 32px; /* Justera textstorleken för mindre skärmar */
    }
  
    .overlay p {
      font-size: 18px; /* Justera textstorleken för mindre skärmar */
    }
  }