.user-application-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-family: "Kumbh sans", sans-serif;
  }
  .user-application-welcome-text-mobile {
    display: none;
    font-family: "Kumbh sans", sans-serif;
  }
  .user-application-welcome {
    max-width: 800px;
    /* width: 800px; */
    margin: 0 auto;
    /* border: 1px solid red; */
    font-family: "Kumbh sans", sans-serif;
    font-size: 14px;
    padding: 5px 20px 50px 20px;
    margin-top: 0;
  }
  .user-application-container p {
    line-height: 1.5; 
  }
  .user-application-container h2 {
    padding-top: 10px;
    font-size: 40px;
    font-weight: 100;
    font-family: "Kumbh sans", sans-serif;
    margin: 0;
  }
  .user-application-info {
    flex-direction: column;
    width: 450px;
    height: 270px;
    margin: 20px auto;
    display: flex;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
  }
  .wrapper {
    display: flex;
  }
  .user-application-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5px 5px 5px 0;
  }
  .user-application-text-container p {
    margin: 0;
    font-size: 12px;
  }
  .user-application-text-container h3 {
    margin: 0;
    font-family: "Kumbh sans", sans-serif;
    font-size: 15px;
    display: flex;
    width: 390px;
    padding-bottom: 5px;
  }
  .user-application-button-container {
    height: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: self-end;
    justify-content: center;
  }
.status-badge-container {
  padding-bottom: 15px;
}
.user-application-image-container {
  display: flex;
  flex-direction: row;
}
.user-application-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}
.user-application-details {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
.user-application-button {
    font-family: "Kumbh sans", sans-serif;
    font-weight: 100;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #E78121;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    border-radius: 24px;
    cursor: pointer;
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}
.user-application-button:hover {
    background-color: #C56E18; 
}
.user-application-button:active {
    background-color: #A34711; 
}
@media (max-width: 550px) {
  .user-application-container {
    width: auto;
    align-items: center;
  }
  .user-application-info {
    width: 450px;
  }
}
@media (max-width: 430px) {
  .user-application-container {
    width: 300px;
  }
  .user-application-container h2 {
    font-size: 25px;
  }
  .user-application-info {
    width: 300px;
  }
  .user-application-text-container h3 {
    font-size: 15px;
  }
  .user-application-welcome {
    display: none;
    width: 300px;
    margin: 0;
    padding: 0;
  }
  .user-application-welcome-text-mobile {
    display: flex;
  }
  .user-application-button {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
  .userapplicationmonly {
    display: flex;
    width: 98%;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}
