.formwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 15vh;
    /* width: 100vw; */

}

.logininfosection1 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.logininputsection1 {
  /* border: 1px solid black; */
  width: 90vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 7vh;
}

.input {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 45px;
}

input[type="email"],
input[type="password"] {
  background-color: #F2F2F2;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  height: 10px;
  width: 30vw;
}
.pass {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#pp {
    text-decoration: none;
    color: black;
    flex-grow: 1; 
  }

  .registerbtn {
    font-family: 'Montserrat, sans-serif';
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #E78121;
    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    border-radius: 24px;
    cursor: pointer;
    width: 180px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .registerbtn:hover {
    background-color: #C56E18;
  }
  
  .registerbtn:active {
    background-color: #A34711;
  }
  
.error-message {
    color: #D21313;
}
.loginLink {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.loginLink h4 {
  margin: 0;
}
.loginLink p {
  margin: 5px;
}