.applysummarybox {
    height: 200px;
    display: flex;
    background-color: #E9E9E9;
    flex-direction: column;
    width: 250px;
    align-items: center;
    padding-bottom: 20px;
}
.applysummarybox p {
    font-weight: 500;
    margin: 3px;
    font-size: 12px;
}
.applysummaryboxdivwrapper {
    display: flex;
    justify-content: space-between;
    width: 210px;
}