.card {
    width: 220px;
    height: 250px;
    /* margin: 20px; */
}
.card-grid {
    width: 80vw;
}
.imgContainer {
    position: relative;
}
.cardimg {
    object-fit: cover;
    height: 180px;
    width: 100%;
    border-radius: 10px;
}
.indicator-dot {
    width: 7px;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.72);
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.indicator-dot.active {
    background-color: #FFF;
}
.carousel-indicator {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
.adress, .city, .landlord, .size, .cost, .room {
    font-size: 12px;
    color: black;
    padding: 4px 0;
}
.city {
    font-weight: bold;
}
#cardadress {
    font-size: 14px;
    font-weight: bold;
}
.city, .landlord, .size {
    text-align: right;
}
.informationwrapper {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 430px) {
    .card {
        height: 350px;
        width: 380px;
        align-self: center;
        justify-content: center;
    }
    .card img {
        height: 250px;
    }
    .cardwrapper {
        width: 100vw;
    }
    .card-grid {
        justify-content: center;
    }
}