.card {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.imgContainer {
    position: relative;
}

.cardimg {
    height: 150px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.indicator-dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.72);
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.indicator-dot.active {
    background-color: #FFF;
}
.carousel-indicator {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
.adress, .city, .landlord, .size, .cost, .room {
    color: black;
    padding: 5px 0;
}
.adress {
    font-weight: bold;
    text-decoration: none; 
}
.city, .landlord, .size {

    text-align: right;
}

.informationwrapper {
    display: flex;
    justify-content: space-between;
}
