.filterwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5vh;
    width: 50vw;
    z-index: 10;
}
.filterwrapperparent {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}
.filtericon {
    align-items: center;
    display: flex;
    text-decoration: none;
    color: black;
    flex-direction: column;
}

.filtericon:hover {
    cursor: pointer;
}
.filtericon.active {
    color: red; 
  }
  .includes-item p {
    margin: 0;
  }