.filterwrapper {
    display: flex;
    justify-content: space-around;
    height: 5vh;
    width: 50vw;
    z-index: 10;
}
.filterwrapperparent {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.filtericon {
    font-size: 1px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.filtericon svg {
    font-size: 20px;
    font-weight: 400;
}
.filtericon p {
    font-family: 'Montserrat', sans-serif;
    margin: 2px;
    font-size: 13px;
}
.filtericon:hover {
    cursor: pointer;
}
.filtericon.active {
    color: #A34711; 
}
.includes-item p {
    margin: 0;
}
@media (max-width: 800px) {
    .filterwrapper {
      width: 100%; 
    }
  }
  @media (max-width: 400px) {
    .filterwrapper {
      width: 300px; 
      justify-content: space-evenly;
      gap: 1px;
    }
  }