.infoContainer {
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
  }
  .infoContainer * {
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.infoborder {
    border-left: 1px solid #ccc; 
}
  .adress, .rent, .room, .space, .date, .type {
    font-size: 14px;
    font-weight: 100;
  }
@media (max-width: 430px) {
  .adress, .date, .type {
    display: none;
  }
  .infoContainer .rent .icon,
  .infoContainer .room .icon,
  .infoContainer .space .icon
  {
    display: none;
  }
  .infoContainer .infoborder:nth-child(2),
  .infoContainer .infoborder:nth-child(2),
  .infoContainer .infoborder:nth-child(8), 
  .infoContainer .infoborder:nth-child(10) 
  {
    display: none;
  }
}