.infoContainer {
    display: flex;
    gap: 15px;
    padding-bottom: 20px;
  }
  .infoContainer * {
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.infoborder {
    border-left: 1px solid #ccc; 
}
  .adress, .rent, .room, .space, .date, .type {
    font-size: 14px;
    font-weight: 100;
  }