.image-carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgdetContainer img {
    width: auto;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
  .carousel-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }