.summarybox {
    font-family: "Kumbh sans", sans-serif;
    height: 270px;
    display: flex;
    background-color: #E9E9E9;
    flex-direction: column;
    width: 300px;
    align-items: center;
    padding-bottom: 30px;
    border-radius: 10px;
}
.summarybox p {
    font-weight: 500;
    margin: 3px;
    font-size: 12px;
    width: 300px;
}
.summarybox h2 {
    font-size: 15px;
    padding-top: 10px;
}
.summaryboxdivwrapper p:first-child {
    font-weight: 600;
    width: 100px;
  }
  .summaryboxdivwrapper p:last-child {
    font-weight: lighter;
    display: flex;
    justify-content: flex-start;
    width: 100px;
  }
  
.summaryboxdivwrapper {
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.summaryboxdivwrapperlast {
    padding-top: 10px;
    width: 250px;
}

@media (max-width: 430px) {
    .summarybox {
        width: 352px;
        height: 244px;
    }
    .summarybox .summaryboxdivwrapper:nth-child(6),
    .summarybox .summaryboxdivwrapper:nth-child(7)
    {
     display: none;
    }
}
